.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(25% - 2px);
  height: calc(20% - 2px);
  border: 1px solid black; }
  .btn.btn--clear {
    width: calc(75% - 2px); }

.calculator {
  border: 1px solid black;
  width: 24rem; }

.display {
  height: 5rem;
  border: 1px solid black; }

.number-pad {
  display: flex;
  flex-wrap: wrap;
  height: 30rem; }
