.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(25% - 2px);
  height: calc(20% - 2px); }
  .btn.btn--clear {
    width: calc(75% - 2px); }

.display {
  height: 6rem; }

.number-pad {
  display: flex;
  flex-wrap: wrap;
  width: 24rem;
  height: 30rem; }
